{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Logstix</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'mysite/style.css' %}">
</head>

<body>
    <nav class="tb">
        <a href="" id="tb_stixmgmt">
            <img src="logstix.svg" alt="">
        </a>
        <a href="" id="tb_home">
            Logstix // Jumbo Boschdijk
        </a>
        <a href="" id="tb_accmgmt">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="56"
                viewBox="0 0 56 56">
                <image id="icons8-user-30" width="56" height="56"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA70lEQVR4nO3UQUrDQBSH8R8umqVdWrrWK+hJxEPYHsNuRPFAurR1ZfEAuinVlUUUXVYGJiCCdNJObCn54A8heeGbl8wbGjaUAn2M8BETrnvxWS10Mcb8j9zHmqwUC6Q/5Vk77ydIy5zmFN9VEA9zit8riENtNuYVs5aO37biH/fWtauLOKMpc9ySme4CeS0nV0krfsph3HAht/Fe9k4b/pUdHGGAGzzjK2aKa5zhMNauTAcXeKkwx2FR59hbRtjGFT6XOKfLhHcvsZsqPcDTCsLfecR+ivgho7TMOEU8rUE8SRGfYJZR+orjFHHDdvENyZP0ibBvoI8AAAAASUVORK5CYII=" />
            </svg>
        </a>
    </nav>
    <div class="top_groups_dwr_rt">
        <div class="top_groups_dwr">
            <div class="top_groups">


                <div class="singlegroup">
                    <div id="groupname">
                        Zuivel
                    </div>
                    <div id="loggercount">
                        4
                    </div>
                    <div class="historicaltemps">
                        <div id="hrsetting">
                            12h
                        </div>
                        <div id="maxtemp">
                            5
                        </div>
                        <div id="mintemp">
                            1
                        </div>
                    </div>
                    <div class="currenttemps">
                        <div id="hrsetting">
                            now
                        </div>
                        <div id="maxtemp">
                            5
                        </div>
                        <div id="mintemp">
                            2
                        </div>
                    </div>
                </div>
                <div class="singlegroup">
                    <div id="groupname">
                        Zuivel
                    </div>
                    <div id="loggercount">
                        4
                    </div>
                    <div class="historicaltemps">
                        <div id="hrsetting">
                            12h
                        </div>
                        <div id="maxtemp">
                            5
                        </div>
                        <div id="mintemp">
                            1
                        </div>
                    </div>
                    <div class="currenttemps">
                        <div id="hrsetting">
                            now
                        </div>
                        <div id="maxtemp">
                            5
                        </div>
                        <div id="mintemp">
                            2
                        </div>
                    </div>
                </div>
                <div class="singlegroup">
                    <div id="groupname">
                        Zuivel
                    </div>
                    <div id="loggercount">
                        4
                    </div>
                    <div class="historicaltemps">
                        <div id="hrsetting">
                            12h
                        </div>
                        <div id="maxtemp">
                            5
                        </div>
                        <div id="mintemp">
                            1
                        </div>
                    </div>
                    <div class="currenttemps">
                        <div id="hrsetting">
                            now
                        </div>
                        <div id="maxtemp">
                            5
                        </div>
                        <div id="mintemp">
                            2
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div></div>
    <div class="btm_groupview_grid">


        <!-- BEGIN OF FIRST PART-->
        {% if thermometers %}
        {% for therm in thermometers %}

        <div class="singlegroup">
            <div id="groupname">
                Zuivel
            </div>

            <div id="loggercount">
                {{therm.temps.0}} <!-- current temperature-->

            </div>

            <div class="temp_graph">
                <canvas id="{{therm.id}}"></canvas>
                <!--canvas in which the graph will be generated-->
            </div>
        </div>{% endfor %}
        {% endif %}
        <!-- END OF FIRST PART-->
    </div>
    </div>
</body>
<script src=" https://cdn.jsdelivr.net/npm/chart.js"></script>



<!-- BEGIN OF FIRST PART-->
{% if thermometers %}
{% for therm in thermometers %}
<script data-thermometerid={{therm.id}} data-temps=[{{therm.temps.1}}, {{therm.temps.2}}, {{therm.temps.3}},
    {{therm.temps.4}}, {{therm.temps.5}}]
    data-dates=[{{therm.dates.1}},{{therm.dates.2}},{{therm.dates.3}},{{therm.dates.4}},{{therm.dates.5}}]>
        var data = document.currentScript.dataset;
        console.log(data.thermometerid)
        var ctx = document.getElementById(data.thermometerid);
        console.log(data.temps)
        console.log(data.dates)
        new Chart(ctx, {
            type: 'line',

            data: {
                labels: data.dates,

                datasets: [{

                    label: 'Degrees',

                    data: data.temps,
                    borderWidth: 3

                }]

            },

            options: {

                plugins: {

                    legend: {

                        display: false

                    }

                },

                borderColor: 'rgb(10, 7, 7)',

                scales: {

                    x: {

                        display: false

                    },

                    y: {

                        display: false,

                        beginAtZero: true

                    }

                }

            }

        });


    </script>
{% endfor %}
{% endif %}
<!-- END OF SECOND PART-->


</html>